In [142]:
import pandas as pd
import csv as csv

In [23]:
school_data_load= 'Resources/schools_complete.csv'

In [24]:
student_data_load= 'Resources/students_complete.csv'

In [28]:
school_data = pd.read_csv(school_data_load)
student_data= pd.read_csv(student_data_load)

In [37]:
school_data_complete = pd.merge(student_data, school_data, on= 'school_name')

In [58]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [48]:
school_data_complete.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [54]:
total_schools= school_data_complete['School ID'].unique()

In [55]:
total_schools

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
      dtype=int64)

In [56]:
total_schools= len(total_schools)

In [57]:
total_schools

15

In [140]:
total_students= school_data_complete['Student ID'].unique()
total_students= len(total_students)
total_students

39170

In [89]:
no_duplicates_ID= school_data_complete.drop_duplicates(subset='School ID')
no_duplicates_ID
total_budget = no_duplicates_ID['budget'].sum()
total_budget

24649428

In [168]:
#--District Summary --
#Total Schools $
#Total Students $
#Total Budget $
#Average Math Score $
#Average Reading Score $
#Passing Math (The percentage of students that passed math.) -- passing = math_score > 69 / total_students
#Passing Reading (The percentage of students that passed reading.) reading_score > 69 / total_students
#Overall Passing (The percentage of students that passed math **and** reading.) math score>= 69 AND reading_score > 69 / total_students

In [112]:
average_math= school_data_complete['math_score'].mean()
average_math

78.98537145774827

In [113]:
average_reading= school_data_complete['reading_score'].mean()
average_reading

81.87784018381414

In [181]:
school_data_complete['math_score']= school_data_complete['math_score'].astype(float)
passing_math = school_data_complete.loc[school_data_complete["math_score"] >=70]
passing_math_percent = (len(passing_math)/total_students)*100
passing_math_percent


#passing_math_percent = (passing_math / total_students) * 100

74.9808526933878

In [182]:
school_data_complete['reading_score']= school_data_complete['reading_score'].astype(float)
passing_read = school_data_complete.loc[school_data_complete["reading_score"] >=70]
passing_read_percent = (len(passing_read)/total_students)*100
passing_read_percent

85.80546336482001

In [186]:
combined_passing = school_data_complete.loc[(school_data_complete['reading_score'] >=70) & (school_data_complete['math_score'] > 69)]
combined_passing_percent = (len(combined_passing)/total_students)*100
combined_passing_percent

65.17232575950983

In [ ]:
#create data frame to hold values

In [205]:
results = [{
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": average_math, 
    "Average Reading Score": average_reading,
    "% Passing Math": passing_math_percent,
    "% Passing Reading": passing_read_percent,
    "% Overall Passing": combined_passing_percent}]

In [214]:
district_summary_df = pd.DataFrame(results)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math (The percentage of students that passed math.)
  * % Passing Reading (The percentage of students that passed reading.)
  * % Overall Passing (The percentage of students that passed math **and** reading.)

In [263]:
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95.0,70.0,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73.0,84.0,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99.0,90.0,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95.0,75.0,14,Charter,1635,1043130

In [276]:
no_duplicates_school= school_data_complete.drop_duplicates(subset='school_name')
#new_indexes = school_data_complete['school_name'].tolist()
new_index = no_duplicates_school['school_name'].tolist()
abc_index = sorted(new_index)
abc_index

['Bailey High School',
 'Cabrera High School',
 'Figueroa High School',
 'Ford High School',
 'Griffin High School',
 'Hernandez High School',
 'Holden High School',
 'Huang High School',
 'Johnson High School',
 'Pena High School',
 'Rodriguez High School',
 'Shelton High School',
 'Thomas High School',
 'Wilson High School',
 'Wright High School']

In [292]:
grouped_bailey = school_data_complete.loc[school_data_complete['school_name'] == 'Bailey High School', :]
bailey_type = 'District'
bailey_total_students = grouped_bailey['student_name'].count()
bailey_budget = 3124928
bailey_student_budget = bailey_budget / bailey_total_students
bailey_math_average = grouped_bailey['math_score'].mean()
bailey_reading_average = grouped_bailey['reading_score'].mean()
bailey_passing_math = grouped_bailey.loc[grouped_bailey["math_score"] >=70]
bailey_math_percent = (len(bailey_passing_math)/bailey_total_students)*100
bailey_passing_read = grouped_bailey.loc[grouped_bailey["reading_score"] >=70]
bailey_read_percent = (len(bailey_passing_read)/bailey_total_students)*100
bailey_overall_passing = grouped_bailey.loc[(grouped_bailey['reading_score'] >=70) & (grouped_bailey['math_score'] >= 70)]
bailey_overall_percent = (len(bailey_overall_passing)/bailey_total_students)*100

grouped_cabrera = school_data_complete.loc[school_data_complete['school_name'] == 'Cabrera High School', :]
cabrera_type = 'District'
cabrera_total_students = grouped_cabrera['student_name'].count()
cabrera_budget = 3124928
cabrera_student_budget = cabrera_budget / cabrera_total_students
cabrera_math_average = grouped_cabrera['math_score'].mean()
cabrera_reading_average = grouped_cabrera['reading_score'].mean()
cabrera_passing_math = grouped_cabrera.loc[grouped_cabrera["math_score"] >=70]
cabrera_math_percent = (len(cabrera_passing_math)/cabrera_total_students)*100
cabrera_passing_read = grouped_cabrera.loc[grouped_cabrera["reading_score"] >=70]
cabrera_read_percent = (len(cabrera_passing_read)/cabrera_total_students)*100
cabrera_overall_passing = grouped_cabrera.loc[(grouped_cabrera['reading_score'] >=70) & (grouped_cabrera['math_score'] >= 70)]
cabrera_overall_percent = (len(cabrera_overall_passing)/cabrera_total_students)*100

In [294]:
school_results = {
    "School Type": [bailey_type, cabrera_type],
    "Total Students": [bailey_total_students, cabrera_total_students],
    "School Budget": [bailey_budget, cabrera_budget],
    "Budget per Student": [bailey_student_budget, cabrera_student_budget], 
    "Average Math Score": [bailey_math_average, cabrera_math_average],
    "Average Reading Score": [bailey_reading_average, cabrera_reading_average],
    "% Passing Math": [bailey_math_percent, cabrera_math_percent],
    "% Passing Reading": [bailey_read_percent, cabrera_read_percent],
    "% Overall Passing": [bailey_overall_percent, cabrera_overall_percent],
     'Index':[abc_index[0],abc_index[1]]       #,abc_index[2],abc_index[3],abc_index[4],abc_index[5],abc_index[6],abc_index[7],abc_index[8],abc_index[9],abc_index[10],abc_index[11],abc_index[12],abc_index[13],abc_index[14]]

}

In [295]:
school_summary_df = pd.DataFrame(school_results)
school_summary_df.set_index('Index', inplace=True)
school_summary_df

#need to save school list abc and then use that in new_index = ['Safari', 'Iceweasel', 'Comodo Dragon']
#df.reindex(new_index)

,School Type,Total Students,School Budget,Budget per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Index,,,,,,,,,
Bailey High School,District,4976,3124928,628.000000,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,District,1858,3124928,1681.877287,83.061895,83.975780,94.133477,97.039828,91.334769