In [2]:
import pandas as pd
import csv as csv
import numpy as np
from functools import reduce

In [3]:
school_data_load= 'Resources/schools_complete.csv'

In [4]:
student_data_load= 'Resources/students_complete.csv'

In [5]:
school_data = pd.read_csv(school_data_load)
student_data= pd.read_csv(student_data_load)

In [6]:
school_data_complete = pd.merge(student_data, school_data, on= 'school_name')

In [7]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [8]:
# school_data_complete[sc]

In [9]:
total_schools= school_data_complete['School ID'].unique()

In [10]:
total_schools

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14],
      dtype=int64)

In [11]:
total_schools= len(total_schools)

In [12]:
total_schools

15

In [13]:
total_students= school_data_complete['Student ID'].unique()
total_students= len(total_students)
total_students

39170

In [14]:
no_duplicates_ID= school_data_complete.drop_duplicates(subset='School ID')
no_duplicates_ID
total_budget = no_duplicates_ID['budget'].sum()
total_budget

24649428

In [15]:
#--District Summary --
#Total Schools $
#Total Students $
#Total Budget $
#Average Math Score $
#Average Reading Score $
#Passing Math (The percentage of students that passed math.) -- passing = math_score > 69 / total_students
#Passing Reading (The percentage of students that passed reading.) reading_score > 69 / total_students
#Overall Passing (The percentage of students that passed math **and** reading.) math score>= 69 AND reading_score > 69 / total_students

In [16]:
average_math= school_data_complete['math_score'].mean()
average_math

78.98537145774827

In [17]:
average_reading= school_data_complete['reading_score'].mean()
average_reading

81.87784018381414

In [18]:
school_data_complete['math_score']= school_data_complete['math_score'].astype(float)
passing_math = school_data_complete.loc[school_data_complete["math_score"] >=70]
passing_math_percent = (len(passing_math)/total_students)*100
passing_math_percent


#passing_math_percent = (passing_math / total_students) * 100

74.9808526933878

In [19]:
school_data_complete['reading_score']= school_data_complete['reading_score'].astype(float)
passing_read = school_data_complete.loc[school_data_complete["reading_score"] >=70]
passing_read_percent = (len(passing_read)/total_students)*100
passing_read_percent

85.80546336482001

In [20]:
combined_passing = school_data_complete.loc[(school_data_complete['reading_score'] >=70) & (school_data_complete['math_score'] > 69)]
combined_passing_percent = (len(combined_passing)/total_students)*100
combined_passing_percent

65.17232575950983

In [21]:
#create data frame to hold values

In [22]:
results = [{
    "Total Schools": total_schools,
    "Total Students": total_students,
    "Total Budget": total_budget,
    "Average Math Score": average_math, 
    "Average Reading Score": average_reading,
    "% Passing Math": passing_math_percent,
    "% Passing Reading": passing_read_percent,
    "% Overall Passing": combined_passing_percent}]

In [23]:
district_summary_df = pd.DataFrame(results)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [24]:
# * Create an overview table that summarizes key metrics about each school, including:
#   * School Name
#   * School Type
#   * Total Students
#   * Total School Budget
#   * Per Student Budget
#   * Average Math Score
#   * Average Reading Score
#   * % Passing Math (The percentage of students that passed math.)
#   * % Passing Reading (The percentage of students that passed reading.)
#   * % Overall Passing (The percentage of students that passed math **and** reading.)

In [25]:
no_duplicates_school= school_data_complete.drop_duplicates(subset='school_name')
#new_indexes = school_data_complete['school_name'].tolist()
new_index = no_duplicates_school['school_name'].tolist()
abc_index = sorted(new_index)

In [26]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [27]:
total_schools_name = school_data_complete.groupby('school_name')
type_df = total_schools_name['type'].unique()
type_df

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [28]:
total_students = school_data_complete.groupby(['school_name']).count()['student_name']
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget = per_school_budget / total_students
student_math_avg = school_data_complete.groupby(["school_name"]).mean()['math_score']
student_reading_avg = school_data_complete.groupby(["school_name"]).mean()['reading_score']
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"]
per_school_counts = school_data_complete.groupby(["school_name"]).count()["Student ID"]
per_school_passing_math = per_school_passing_math / per_school_counts * 100
school_passing_read = school_data_complete[(school_data_complete["reading_score"] >= 70)]
per_school_passing_read = school_passing_read.groupby(["school_name"]).count()["student_name"]
per_school_passing_read = per_school_passing_read / per_school_counts * 100

In [29]:
school_passing_overall = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
per_school_passing_overall = school_passing_overall.groupby(["school_name"]).count()["student_name"]
per_school_passing_overall = per_school_passing_overall / per_school_counts * 100
per_school_passing_overall

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [30]:
#need to filter out list that shows school and its type

In [31]:
# Convert dictionary into a DataFrame
school_results = {
    "School Type": type_df,
    "Total Students": total_students,
    "Total School Budget": per_school_budget,
     "Budget Per Student":per_student_budget,
      "Average Math Score": student_math_avg,
     "Average Reading Score": student_reading_avg,
     "% Passing Math": per_school_passing_math,
     "% Passing Reading": per_school_passing_read,
     "% Overall Passing": per_school_passing_overall
}

# Convert dictionary into DataFrame
school_results = pd.DataFrame({"School Type": type_df,
                               "Total Students": total_students,
                               "Total School Budget": per_school_budget,
                                "Budget Per Student" : per_student_budget,
                                "Average Math Score" : student_math_avg,
                                "Average Reading Score": student_reading_avg,
                                "% Passing Math": per_school_passing_math,
                                "% Passing Reading": per_school_passing_read,
                                "% Overall Passing": per_school_passing_overall
                              })

# Renaming the columns in the DataFrame
# school_results = school_results[["Total School Budget", "Budget Per Student"]]


# Reformat to dollars
school_results["Total School Budget"] = school_results["Total School Budget"].map("${:,.0f}".format)
school_results["Budget Per Student"] = school_results["Budget Per Student"].map("${:,.0f}".format)
school_results["Average Math Score"] = school_results["Average Math Score"].map("{:.0f}".format)
school_results["Average Reading Score"] = school_results["Average Reading Score"].map("{:.0f}".format)
school_results["% Passing Math"] = school_results["% Passing Math"].map("{:.2f}%".format)
school_results["% Passing Reading"] = school_results["% Passing Reading"].map("{:.2f}%".format)
school_results["% Overall Passing"] = school_results["% Overall Passing"].map("{:.2f}%".format)

school_results

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928",$628,77,81,66.68%,81.93%,54.64%
Cabrera High School,[Charter],1858,"$1,081,356",$582,83,84,94.13%,97.04%,91.33%
Figueroa High School,[District],2949,"$1,884,411",$639,77,81,65.99%,80.74%,53.20%
Ford High School,[District],2739,"$1,763,916",$644,77,81,68.31%,79.30%,54.29%
Griffin High School,[Charter],1468,"$917,500",$625,83,84,93.39%,97.14%,90.60%
Hernandez High School,[District],4635,"$3,022,020",$652,77,81,66.75%,80.86%,53.53%
Holden High School,[Charter],427,"$248,087",$581,84,84,92.51%,96.25%,89.23%
Huang High School,[District],2917,"$1,910,635",$655,77,81,65.68%,81.32%,53.51%
Johnson High School,[District],4761,"$3,094,650",$650,77,81,66.06%,81.22%,53.54%
Pena High School,[Charter],962,"$585,858",$609,84,84,94.59%,95.95%,90.54%
Rodriguez High School,[District],3999,"$2,547,363",$637,77,81,66.37%,80.22%,52.99%
Shelton High School,[Charter],1761,"$1,056,600",$600,83,84,93.87%,95.85%,89.89%
Thomas High School,[Charter],1635,"$1,043,130",$638,83,84,93.27%,97.31%,90.95%
Wilson High School,[Charter],2283,"$1,319,574",$578,83,84,93.87%,96.54%,90.58%
Wright High School,[Charter],1800,"$1,049,400",$583,84,84,93.33%,96.61%,90.33%

In [32]:
top_overall_schools = school_results.sort_values(['% Overall Passing'], ascending=False)
top_overall_schools.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,[Charter],1858,"$1,081,356",$582,83,84,94.13%,97.04%,91.33%
Thomas High School,[Charter],1635,"$1,043,130",$638,83,84,93.27%,97.31%,90.95%
Griffin High School,[Charter],1468,"$917,500",$625,83,84,93.39%,97.14%,90.60%
Wilson High School,[Charter],2283,"$1,319,574",$578,83,84,93.87%,96.54%,90.58%
Pena High School,[Charter],962,"$585,858",$609,84,84,94.59%,95.95%,90.54%

In [33]:
bottom_overall_schools = school_results.sort_values(['% Overall Passing'])
bottom_overall_schools.head()

,School Type,Total Students,Total School Budget,Budget Per Student,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,[District],3999,"$2,547,363",$637,77,81,66.37%,80.22%,52.99%
Figueroa High School,[District],2949,"$1,884,411",$639,77,81,65.99%,80.74%,53.20%
Huang High School,[District],2917,"$1,910,635",$655,77,81,65.68%,81.32%,53.51%
Hernandez High School,[District],4635,"$3,022,020",$652,77,81,66.75%,80.86%,53.53%
Johnson High School,[District],4761,"$3,094,650",$650,77,81,66.06%,81.22%,53.54%

In [34]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66.0,79.0,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94.0,61.0,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90.0,60.0,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67.0,58.0,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97.0,84.0,0,District,2917,1910635

In [35]:
only_9_math = school_data_complete.loc[school_data_complete["grade"] == "9th"]
only_9_math = only_9_math.rename(columns={'math_score': '9th'})
only_10_math = school_data_complete.loc[school_data_complete["grade"] == "10th"]
only_10_math = only_10_math.rename(columns={'math_score': '10th'})
only_11_math = school_data_complete.loc[school_data_complete["grade"] == "11th"]
only_11_math = only_11_math.rename(columns={'math_score': '11th'})
only_12_math = school_data_complete.loc[school_data_complete["grade"] == "12th"]
only_12_math = only_12_math.rename(columns={'math_score': '12th'})

In [36]:
grouped_9 = only_9_math.groupby(["school_name"]).mean(['math_score'])
del grouped_9['reading_score']
del grouped_9['School ID']
del grouped_9['size']
del grouped_9['budget']
del grouped_9['Student ID']
grouped_10 = only_10_math.groupby(["school_name"]).mean(['math_score'])
del grouped_10['reading_score']
del grouped_10['School ID']
del grouped_10['size']
del grouped_10['budget']
del grouped_10['Student ID']
grouped_11 = only_11_math.groupby(["school_name"]).mean(['math_score'])
del grouped_11['reading_score']
del grouped_11['School ID']
del grouped_11['size']
del grouped_11['budget']
del grouped_11['Student ID']
grouped_12 = only_12_math.groupby(["school_name"]).mean(['math_score'])
del grouped_12['reading_score']
del grouped_12['School ID']
del grouped_12['size']
del grouped_12['budget']
del grouped_12['Student ID']

In [37]:
data_frames = [grouped_9, grouped_10, grouped_11, grouped_12]
math_by_grade = reduce(lambda  left,right: pd.merge(left,right,on=['school_name'],
                                            how='outer'), data_frames)
math_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [38]:
only_9_read = school_data_complete.loc[school_data_complete["grade"] == "9th"]
only_9_read = only_9_read.rename(columns={'reading_score': '9th'})
only_10_read = school_data_complete.loc[school_data_complete["grade"] == "10th"]
only_10_read = only_10_read.rename(columns={'reading_score': '10th'})
only_11_read = school_data_complete.loc[school_data_complete["grade"] == "11th"]
only_11_read = only_11_read.rename(columns={'reading_score': '11th'})
only_12_read = school_data_complete.loc[school_data_complete["grade"] == "12th"]
only_12_read = only_12_read.rename(columns={'reading_score': '12th'})

In [39]:
grouped_9_read = only_9_read.groupby(["school_name"]).mean(['reading_score'])
del grouped_9_read['math_score']
del grouped_9_read['School ID']
del grouped_9_read['size']
del grouped_9_read['budget']
del grouped_9_read['Student ID']
grouped_10_read = only_10_read.groupby(["school_name"]).mean(['reading_score'])
del grouped_10_read['math_score']
del grouped_10_read['School ID']
del grouped_10_read['size']
del grouped_10_read['budget']
del grouped_10_read['Student ID']
grouped_11_read = only_11_read.groupby(["school_name"]).mean(['reading_score'])
del grouped_11_read['math_score']
del grouped_11_read['School ID']
del grouped_11_read['size']
del grouped_11_read['budget']
del grouped_11_read['Student ID']
grouped_12_read = only_12_read.groupby(["school_name"]).mean(['reading_score'])
del grouped_12_read['math_score']
del grouped_12_read['School ID']
del grouped_12_read['size']
del grouped_12_read['budget']
del grouped_12_read['Student ID']

In [40]:
data_frames = [grouped_9_read, grouped_10_read, grouped_11_read, grouped_12_read]
reading_by_grade = reduce(lambda  left,right: pd.merge(left,right,on=['school_name'],
                                            how='outer'), data_frames)
reading_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [41]:
max(per_student_budget)

655.0

In [59]:
spending_results = pd.DataFrame({
                                "Average Math Score" : student_math_avg,
                                "Average Reading Score": student_reading_avg,
                                "% Passing Math": per_school_passing_math,
                                "% Passing Reading": per_school_passing_read,
                                "% Overall Passing": per_school_passing_overall,
                                "Spending Ranges (Per Student)": per_student_budget
                              })

In [60]:
spending_results

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,628.0
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,582.0
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,639.0
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,644.0
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,625.0
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,652.0
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,581.0
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,655.0
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,650.0
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,609.0
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,637.0
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,600.0
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,638.0
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,578.0
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,583.0

In [61]:
bins = [0, 585, 630, 645, 680]
group_names = ["$585", "$585-630", "$630-645", "$645-680"]

spending_results["Spending Ranges"] = pd.cut(spending_results["Spending Ranges (Per Student)"], bins, labels=group_names, include_lowest=True)

In [62]:
spending_results

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student),Spending Ranges
school_name,,,,,,,
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,628.0,$585-630
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,582.0,$585
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,639.0,$630-645
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,644.0,$630-645
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,625.0,$585-630
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,652.0,$645-680
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,581.0,$585
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,655.0,$645-680
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,650.0,$645-680
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,609.0,$585-630
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,637.0,$630-645
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,600.0,$585-630
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,638.0,$630-645
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,578.0,$585
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,583.0,$585

In [63]:
spending_results = spending_results.groupby("Spending Ranges")

In [64]:
spending_results.max()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
Spending Ranges,,,,,,
$585,83.803279,83.989488,94.133477,97.039828,91.334769,583.0
$585-630,83.839917,84.044699,94.594595,97.138965,90.599455,628.0
$630-645,83.418349,83.848930,93.272171,97.308869,90.948012,644.0
$645-680,77.289752,81.182722,66.752967,81.316421,53.539172,655.0

In [98]:
school_size_results2 = pd.DataFrame({
                                "Average Math Score" : student_math_avg,
                                "Average Reading Score": student_reading_avg,
                                "% Passing Math": per_school_passing_math,
                                "% Passing Reading": per_school_passing_read,
                                "% Overall Passing": per_school_passing_overall,
                                "Total Students": total_students
                              })

In [99]:
school_size_results2

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Total Students
school_name,,,,,,
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,4976
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,1858
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,2949
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,2739
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,1468
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,4635
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,427
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,2917
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,4761
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,962
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,3999
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,1761
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,1635
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,2283
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,1800

In [100]:
bins = [0, 2000, 3000, 4000, 5000]
group_names = ["A", "AA", "AAA", "AAAA"]

school_size_results2["Size Ranges"] = pd.cut(school_size_results2["Total Students"], bins, labels=group_names, include_lowest=True)
school_size_results2

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Total Students,Size Ranges
school_name,,,,,,,
Bailey High School,77.048432,81.033963,66.680064,81.933280,54.642283,4976,AAAA
Cabrera High School,83.061895,83.975780,94.133477,97.039828,91.334769,1858,A
Figueroa High School,76.711767,81.158020,65.988471,80.739234,53.204476,2949,AA
Ford High School,77.102592,80.746258,68.309602,79.299014,54.289887,2739,AA
Griffin High School,83.351499,83.816757,93.392371,97.138965,90.599455,1468,A
Hernandez High School,77.289752,80.934412,66.752967,80.862999,53.527508,4635,AAAA
Holden High School,83.803279,83.814988,92.505855,96.252927,89.227166,427,A
Huang High School,76.629414,81.182722,65.683922,81.316421,53.513884,2917,AA
Johnson High School,77.072464,80.966394,66.057551,81.222432,53.539172,4761,AAAA
Pena High School,83.839917,84.044699,94.594595,95.945946,90.540541,962,A
Rodriguez High School,76.842711,80.744686,66.366592,80.220055,52.988247,3999,AAA
Shelton High School,83.359455,83.725724,93.867121,95.854628,89.892107,1761,A
Thomas High School,83.418349,83.848930,93.272171,97.308869,90.948012,1635,A
Wilson High School,83.274201,83.989488,93.867718,96.539641,90.582567,2283,AA
Wright High School,83.682222,83.955000,93.333333,96.611111,90.333333,1800,A

In [101]:
school_size_results2 = school_size_results2.groupby(["Size Ranges"])
school_size_results2.max()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Total Students
Size Ranges,,,,,,
A,83.839917,84.044699,94.594595,97.308869,91.334769,1858
AA,83.274201,83.989488,93.867718,96.539641,90.582567,2949
AAA,76.842711,80.744686,66.366592,80.220055,52.988247,3999
AAAA,77.289752,81.033963,66.752967,81.933280,54.642283,4976

In [108]:
school_type_results1 = pd.DataFrame({
                                "Average Math Score" : student_math_avg,
                                "Average Reading Score": student_reading_avg,
                                "% Passing Math": per_school_passing_math,
                                "% Passing Reading": per_school_passing_read,
                                "% Overall Passing": per_school_passing_overall,
                                "Type": type_df })
type(school_type_results1)

pandas.core.frame.DataFrame

In [111]:
bins = [0, 50, 100]
group_names = [District, 2]

school_type_results1["Type Options"] = pd.cut(school_type_results1["Type"], bins, labels=group_names, include_lowest=True)
school_type_results1

TypeError: '>' not supported between instances of 'str' and 'int'